.dropdown-menu.show {
    display: flex !important;
}


.logo {
    width: 46px;
}


.navbar-brand {
    background-image: url('images\logo.png') center center no-repeat;
    
}

.carouselItem{
height: auto;
max-height: 600px;

}