.color-1 { color: #F26D85}
.color-2 { color: #BF214B}
.color-3 { color: #C1D0D9}
.color-4 { color: #0E6973}
.color-5 { color: #0E7373}

.bg-1 { background-color: #F26D85}
.bg-2 { background-color: #BF214B}
.bg-3 { background-color: #C1D0D9}
.bg-4 { background-color: #0E6973}
.bg-5 { background-color: #0E7373}

.color-6{background: orange;
color:black;}

.color-6:hover{
    background: darkorange;
color:black;
}
.dropdown-menu.show {
    display: flex !important;
}


.logo {
    width: 46px;
}


.navbar-brand {
    background-image: url('images\logo.png') center center no-repeat;
    
}

.carouselItem{
height: auto;
max-height: 600px;

}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #C1D0D9 70%, #0E6973 100%); 
    font-family: 'Nunito';
} 

.titulos{
    font-family: 'JetBrains Mono';
    text-shadow: 2px 2px #00000045;;
}


.imgserv{
    border-radius: 50%;
    height: auto;
    max-height: 25vw;
    width: auto;
    max-width: 100%;
    margin: auto;
    display: block;
    cursor: pointer;
}
.imground{
    border-radius: 6%;
    cursor: pointer;
}

.imgitem{
    height: auto;
    max-height: 25vw;
    width: auto;
    max-width: 100%;
    margin: auto;
    display: block;
    cursor: pointer;
}

.navbar1{
    background-color: #0E7373!important;
    transition: 1s;
}
.popup{
    position:absolute;
    width:30px;
    height:30px;
    z-index: 100;
}

.carousel-text {
    background-color: #f0f8ff78;
    text-shadow: 1px 1px #0000004a;
}

#photo-full-size {
    display: none;
    background-color: #00000070;
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 20vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#photo-full-size > img {
    margin: auto;
    display: block;
    width: 80%;
  max-width: 700px;
  margin-bottom: 20vh;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

a:hover {
    color: unset;
    text-decoration: none;
}

.nav-link.active {
    color: #fff !important;
    background-color: #0e7373!important;
    border-color: #0e7373!important;
}

.btn-link {
    color: #BF214B;
}

.btn-link:hover,
.btn-link:not(.btn-link.collapsed)
 {
    color: #0e7373;
}