.dropdown-menu.show {
    display: flex !important;
}


.logo {
    width: 46px;
}


.navbar-brand {
    background-image: url('images\logo.png') center center no-repeat;
    
}

.carouselItem{
height: auto;
max-height: 600px;

}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); 
    font-family: 'Nunito';
} 
#teste {
    background-image: url('images/bg-1.jpg');
}

.textcolor{
    color:white;
}